
button {
    margin: 0 0.5rem 0 0;
}
input[type='text'] {
    background-color: white;
    width: 90%;
}
.muted-button {
    background: white;
}
.editing {
    background-color: #e0ffff !important;
}
.phone {
    width: 15%;
}
.email {
    width: 20%;
}